# Ignore compiled python module folder
__pycache__
# Ignore log files
*.log
*.LOG

# Ignore vscode stuff
.vscode

# Ignoring pipenv stuff
Pipfile.lock

# Ignore sphinx build folders
doc/build
doc/source/QOL/_autosummary
